.label {
    -fx-text-fill: #d3f0ff;
    -fx-background-color: transparent;
}
.label:hover {
    -fx-text-fill: derive(#d3f0ff, 10%);
    -fx-background-color: derive(#101b20, 5%);
}
.textArea {
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-border-style: none;
}
.textArea, .textArea .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}