.label {
    -fx-text-fill: #d3f0ff;
    -fx-background-color: transparent;
}
.error {
    -fx-text-fill: #ffd3d3;
    -fx-background-color: transparent;
}

.label:hover {
    -fx-text-fill: derive(#d3f0ff, 10%);
    -fx-background-color: derive(#101b20, 5%);
    -fx-background-radius: 3;
}
.textArea {
    -fx-text-fill: derive(#d3f0ff, 40%);
    -fx-background-color: derive(#101b20, 40%);
    -fx-background-radius: 3;
    -fx-border-style: none;
}