.contextMenu {
    -fx-text-fill: derive(#d3f0ff, 20%);
    -fx-background-color: derive(#101b20, 10%);
}
.contextMenuButton {
    -fx-text-fill: derive(#d3f0ff, 30%);
    -fx-background-color: derive(#101b20, 30%);
    -fx-background-radius: 0;
}
.contextMenuButton:hover {
    -fx-text-fill: derive(#d3f0ff, 40%);
    -fx-background-color: derive(#101b20, 40%);
}