@(title: String)(content: Html)
@import play.api.Play
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="lt" lang="lt">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>@title</title>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'/>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/navigation.css")'/>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/area.css")'/>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/phantomjs-shims.js")'></script>
  </head>
  <body>
   @content
  </body>
</html>