body {
    margin: 0;
    padding: 0;
}
.dragable {
    position: absolute;
    left: 0px;
    right: 0px;
    border: 1px solid red;
    display: inline;
    background: #FFEEEE;
    cursor: grab;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.area {
    border: 1px solid blue;
    height: 300px;
    max-width: 300px;
    overflow: hidden;
    position: relative;
    margin-left: 100px;
}
.new-name {
    width: 180px;
}
.sidebar {
    width: 100px;
    float: left;
    border: 1px solid gray;
}
.sidebar .expanded .sidebar-items {
    display: block;
}
.sidebar .collapsed .sidebar-items {
    display: none;
}